<%= render_breadcrumbs builder: Sufia::BootstrapBreadcrumbsBuilder %>
<h1>Lists</h1>

<table class="table table-stripped">
  <tr><th>List</th><th>Description</th><th>Action</th></tr>
  <% @lists.each do |list| %>
    <tr id="<%= list.selector%>">
      <td><%= list %></td>
      <td><%= list.description %></td>
      <td>
        <%= link_to "Modify items", list_path(list), class: "btn btn-primary" if list.editable_by(current_user) %>
        <%= link_to "Edit permissions", edit_list_path(list), class: "btn btn-default" if current_user.admin? %>
      </td>
    </td>
  <% end %>
</table>
