<h1>Unauthorized</h1>
<p>
  You do not have the required authorization to access this page. Please contact your administrator.
</p>
<% unless Rails.env.production? %>
<h2>Shibboleth Information</h2>
<table class="table table-condensed">
<% ["HTTP_SAML_UID", "HTTP_SAML_PRIMARY_AFFILIATION", "HTTP_SAML_UNSCOPED_AFFILIATION"].each do |k| %>
  <tr>
    <td><strong><%= k %></strong></td>
    <td><%= request.env.fetch(k, "nil") %></td>
  </tr>
<% end %>
</table>

<h2>Lake Information</h2>
<table class="table table-condensed">
  <tr><td><strong>AICUser</strong></td><td><%= (aic_user.nil? ? "Not found" : aic_user.id) %></td></tr>
  <tr><td><strong>Department</strong></td><td><%= (department.nil? ? "Not found" : department.id) %></td></tr>
</table>

<h2>Environment</h2>
<table class="table table-condensed">
<% request.env.each do |k, v| %>
  <% if k =~ /^HTTP/ %>
    <tr>
      <td><strong><%= k %></strong></td>
      <td><%= v %></td>
    </tr>
  <% end %>
<% end %>
</table>
<% end %>
