<p><%= link_to t("lakeshore.relationship.batch_add_representations"),
               sufia.new_batch_upload_path(relationship: "representation_for",
                                           citi_type: @presenter.hydra_model,
                                           citi_uid: [@presenter.citi_uid]) %></p>
<p><%= link_to t("lakeshore.relationship.batch_add_documentation"),
               sufia.new_batch_upload_path(relationship: "documentation_for",
                                           citi_type: @presenter.hydra_model,
                                           citi_uid: [@presenter.citi_uid]) %></p>

<%= render "shared/clarifying_text" %>

<% if @presenter.has_relationships? %>
  <%= render '/curation_concerns/base/relationships_table', presenter: @presenter %>
<% else %>
  <p>No relationships found for this <%= @presenter.human_readable_type.gsub('Work', 'Object') %></p>
<% end %>
