<h2 class="underline">Asset Relationships</h2>
<% if @presenter.related_assets.empty? %>
<p>No assets related to this resource.</p>
<%= link_to "Manage Asset Relationships", edit_resource_path %>
<% end %>
<% unless @presenter.assets.empty? %>
  <h3>Assets</h3>
  <% @presenter.assets.each do |asset| %>
    <%= render partial: 'generic_files/asset_display', locals: { asset: asset } %>
  <% end %>
<% end %>

<% unless @presenter.representations.empty? %>
  <h3>Representations</h3>
  <% @presenter.representations.each do |asset| %>
    <%= render partial: 'generic_files/asset_display', locals: { asset: asset } %>
  <% end %>
<% end %>

<% unless @presenter.preferred_representations.empty? %>
  <h3>Preferred Representations</h3>
  <% @presenter.preferred_representations.each do |asset| %>
    <%= render partial: 'generic_files/asset_display', locals: { asset: asset } %>
  <% end %>
<% end %>

<% unless @presenter.documents.empty? %>
  <h3>Documents</h3>
  <% @presenter.documents.each do |asset| %>
    <%= render partial: 'generic_files/asset_display', locals: { asset: asset } %>
  <% end %>
<% end %>
