<h3><%= heading %></h3>

<table class="table table-striped relationships">
  <tbody>
    <tr>
      <% if need_star %>
        <th>Preferred</th>
      <% end %>
      <th>Preview</th>
      <th>Document Type</th>
      <th>Link</th>
      <th>UID</th>
      <th>Non-Object Caption</th>
    </tr>
    <% presenters.each do |rel| %>
      <tr>
        <% if need_star %>
          <td><i class="fa <%= star_or_not(rel.id, pref_rep_id) %>"></i></td>
        <% end %>
        <td><%= image_tag(rel.solr_document['thumbnail_path_ss']) %></td>
        <td><%= rel.document_types %></td>
        <td>
          <% if rel.viewable? %>
            <%= link_to rel.to_s, polymorphic_path([main_app, rel]) %>
          <% else %>
            <%= rel.to_s %>
          <% end %>
        </td>
        <td><%= rel.uid %></td>
        <td><%= rel.caption %></td>
      </tr>
    <% end %>
  </tbody>
</table>
