<h3><%= heading %></h3>

<table class="table table-striped relationships">
  <tbody>
    <tr>
      <% if need_star %>
        <th>Pref.</th>
      <% end %>
      <th>Thumbnail</th>
      <th>Title</th>
      <th>Visibility & Publishing</th>
      <th>UID</th>
    </tr>
    <% presenters.each do |rel| %>
      <tr>
        <% if need_star %>
          <td>
            <div class="<%= star_or_not(rel.id, pref_rep_id) %>">
            </div>
          </td>
        <% end %>
        <td><%= image_tag(rel.solr_document['thumbnail_path_ss']) %></td>
        <td>
          <% if rel.viewable? %>
            <%= link_to rel.to_s, polymorphic_path([main_app, rel]), target: '_blank' %>
          <% else %>
            <%= rel.to_s %>
          <% end %>
        </td>
        <td>
          <%= rel.permission_badge %>
          <%= publish_channels_to_badges(rel.publish_channels) %>
        </td>
        <td>
          <% if rel.viewable? %>
            <%= link_to rel.uid, polymorphic_path([main_app, rel]), target: '_blank' %>
          <% else %>
            <%= rel.uid %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
