<h3>Visibility</h3>
<% if f.object.embargo_release_date %>
  <%= render 'form_permission_under_embargo', f: f %>
<% elsif f.object.lease_expiration_date %>
  <%= render 'form_permission_under_lease', f: f %>
<% else %>
  <div class="form-group visibility">
    <label class="radio">
      <%= f.radio_button :visibility, Hydra::AccessControls::AccessRight::VISIBILITY_TEXT_VALUE_AUTHENTICATED %>
      <%= t('curation_concerns.visibility.authenticated.label_html', institution: t('curation_concerns.institution.name')) %>
    </label>
    <label class="radio">
      <%= f.radio_button :visibility, Hydra::AccessControls::AccessRight::VISIBILITY_TEXT_VALUE_EMBARGO, data: { 'target': '#collapseEmbargo' } %>
      <%= t('curation_concerns.visibility.embargo.label_html') %>
      <div class="collapse" id="collapseEmbargo">
        <div class="form-inline">
          <%= f.input :visibility_during_embargo, wrapper: :inline, collection: visibility_options(:restrict), include_blank: false %>
          <%= f.date_field :embargo_release_date, wrapper: :inline, value: f.object.embargo_release_date || Date.tomorrow, class: 'datepicker form-control' %>
          <%= f.input :visibility_after_embargo, wrapper: :inline, collection: visibility_options(:loosen), include_blank: false %>
        </div>
      </div>
    </label>
    <label class="radio">
      <%= f.radio_button :visibility, Hydra::AccessControls::AccessRight::VISIBILITY_TEXT_VALUE_LEASE, data: { 'target': '#collapseLease' } %>
      <%= t('curation_concerns.visibility.lease.label_html') %>
      <div class="collapse" id="collapseLease">
        <div class="form-inline">
          <%= f.input :visibility_during_lease, wrapper: :inline, collection: visibility_options(:loosen), include_blank: false %>
          <%= f.date_field :lease_expiration_date, wrapper: :inline, value: f.object.lease_expiration_date || Date.tomorrow, class: 'datepicker form-control' %>
          <%= f.input :visibility_after_lease, wrapper: :inline, collection: visibility_options(:restrict), include_blank: false %>
        </div>
      </div>

    </label>
    <label class="radio">
      <%= f.radio_button :visibility, Permissions::LakeshoreVisibility::VISIBILITY_TEXT_VALUE_DEPARTMENT %>
      <%= t('curation_concerns.visibility.department.label_html') %>
    </label>
  </div>
<% end %>

