<% if presenters.first.citi_presenter? %>
  <h3><%= rel_term_asset %></h3>
<% else %>
  <h3><%= rel_term %></h3>
<% end %>

<table class="table table-striped relationships">
  <tbody>
    <tr>
      <% if presenters.first.citi_presenter? %>
        <th>Resource Type</th>
      <% else %>
        <%# @TODO This should be taken out of the condition once ticket #96 is resolved. %>
        <th>Preview</th>
        <th>Document Type</th>
      <% end %>
      <th>Link</th>
      <th>UID</th>
    </tr>
    <% presenters.each do |rel| %>
      <tr>
        <% if rel.citi_presenter? %>
          <td><%= rel.resource_type.first %></td>
        <% else %>
          <%# @TODO This should be taken out of the condition once ticket #96 is resolved. %>
          <td><%= render 'representative_media', presenter: rel %></td>
          <%# @TODO This needs to be the human-readable label as per ticket #616 %>
          <td><%= rel.document_type %></td>
        <% end %>
        <!--<td><%= rel.pref_label %></td>-->
        <td><%= link_to rel.to_s, polymorphic_path([main_app, rel]) %></td>
        <td><%= rel.uid %></td>
      </tr>
    <% end %>
  </tbody>
</table>
