<%= form_tag search_form_action, method: :get, id: "search-form-header", role: "search" do %>
  <%= render_hash_as_hidden_fields(search_state.params_for_search.except(:q, :search_field, :qt, :page, :utf8)) %>
  <div class="input-group">

    <label class="sr-only" for="search-field-header"><%= t("sufia.search.form.q.label") %></label>
    <%= text_field_tag :q, current_search_parameters , class: "q form-control", id: "search-field-header", placeholder: t("sufia.search.form.q.placeholder") %>

    <div class="input-group-btn">
  	  <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
        <span data-search-element="label"><%= t("sufia.search.form.option.all.label_long") %></span>
        <span class="caret"></span>
      </button>
      <button type="submit" class="btn btn-primary" id="search-submit-header">
        <%= t('sufia.search.button.html') %>
      </button>

      <ul class="dropdown-menu pull-right">
        <li>
          <%= link_to t("sufia.search.form.option.all.label_long"), "#",
              data: { "search-option" => main_app.search_catalog_path, "search-label" => t("sufia.search.form.option.all.label_short") } %>
        </li>
        <li>
          <%= link_to "All Assets", "#",
              data: { "search-option" => polymorphic_path([main_app, GenericWork]),
                      "search-label" => "Assets" } %>
        </li>
        <li>
          <%= link_to "Works", "#",
              data: { "search-option" => polymorphic_path([main_app, Work]),
                      "search-label" => "Works" } %>
        </li>
        <li>
          <%= link_to "Agents", "#",
              data: { "search-option" => polymorphic_path([main_app, Agent]),
                      "search-label" => "Agents" } %>
          </li>
        <li>
          <%= link_to "Exhibitions", "#",
              data: { "search-option" => polymorphic_path([main_app, Exhibition]),
                      "search-label" => "Exhibitions" } %>
        </li>
        <li>
          <%= link_to "Shipments", "#",
              data: { "search-option" => polymorphic_path([main_app, Shipment]),
                      "search-label" => "Shipments" } %>
        </li>
        <li>
          <%= link_to "Transactions", "#",
              data: { "search-option" => polymorphic_path([main_app, Transaction]),
                      "search-label" => "Transactions" } %>
        </li>
        <li>
          <%= link_to "Places", "#",
              data: { "search-option" => polymorphic_path([main_app, Place]),
                      "search-label" => "Places" } %>
        </li>
      </ul>
    </div><!-- /.input-group-btn -->

  </div><!-- /.input-group -->
<% end %>