<nav id="masthead" class="navbar-inverse" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#top-navbar-collapse" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= render partial: '/logo' %>
    </div>

    <div class="collapse navbar-collapse" id="top-navbar-collapse">
	  <div class="navbar-right row col-md-9 col-lg-8">
	    <div class="col-sm-8 col-md-9 col-lg-8">
        <%= render partial: 'catalog/search_form' %>
      </div>
      <ul class="nav navbar-nav">
        <li><%= link_to("Search History", blacklight.search_history_path) %></li>
        <li><%= link_to("Saved Searches", blacklight.saved_searches_path) %></li>
      </ul>
	  </div>
	  <div class="navbar-right row col-sm-12 col-md-9 col-lg-8">
		  <div class="col-sm-6 col-md-7 col-lg-8">
		    <%= render partial: '/toolbar' %>
		  </div>
		  <div class="col-sm-6 col-md-5 col-lg-4">
      	    <%= render partial: '/user_util_links' %>
		  </div>
	  </div>
    </div>
  </div>
</nav>
