<ul class="nav navbar-nav col-sm-12 col-md-12">
  <li <%= 'class=active' if current_page?(sufia.about_path) %>>
    <%= link_to t(:'sufia.controls.about'), sufia.about_path, :'data-no-turbolink'=>"true" %></li>
  <li <%= 'class=active' if action_name == "help" %>>
    <%= link_to t(:'sufia.controls.help'), sufia.help_path %></li>
  <li <%= 'class=active' if current_page?(sufia.contact_path) %>>
    <%= link_to t(:'sufia.controls.contact'), sufia.contact_path %></li>
</ul>
