<!DOCTYPE html>
<html lang="<%= t("sufia.document_language") %>">
  <head>
    <meta charset="utf-8" />

    <title><%= h(application_name) %></title>
    <!-- application css -->
    <%= stylesheet_link_tag 'application' %>

    <!-- application js -->
    <%= javascript_include_tag 'application' %>

    <%= render partial: '/ga', formats: [:html] %>
  </head>

<body>
  <%= yield %>
</body>
</html>
