<!DOCTYPE html>
<html lang="<%= t("sufia.document_language") %>">
<head>
  <%= render "layouts/head_tag_content"%>
</head>

  <body data-turbolinks="false">
    <%= render '/masthead' %>
    <%= render_breadcrumbs builder: Sufia::BootstrapBreadcrumbsBuilder %>
  <%= render 'shared/flash_message' %>

  <div id="main" role="main" class="container <%= yield(:page_class) if content_for?(:page_class)%>">
  <% if content_for?(:page_header) %>
    <div class="row">
      <div class="col-md-12 main-header ">
        <%= yield(:page_header) %>
      </div>
    </div>
  <% end %>
    <%= content_for?(:main) ? yield(:main) : yield %>
  </div>

  <%= render 'shared/footer' %>

</body>

</html>
